<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543528964964-g81g5io59f4q0loo1kt67bsql34s4b5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543528964964-g81g5io59f4q0loo1kt67bsql34s4b5m</string>
	<key>API_KEY</key>
	<string>AIzaSyDFZJVy0XdpOJ_pCiS1OdWziHMfewpA68w</string>
	<key>GCM_SENDER_ID</key>
	<string>543528964964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aplicacion.qoway</string>
	<key>PROJECT_ID</key>
	<string>pringstom</string>
	<key>STORAGE_BUCKET</key>
	<string>pringstom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543528964964:ios:e92ce3ddc35293e7f2e071</string>
</dict>
</plist>